@mixin font-style( $ff, $fz, $fw, $lh, $ls, $ta, $color){
    font-family: $ff;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: $ta;
    color: $color;
}

@mixin positioning($disp, $fd, $jc, $al, $gp, $wr){
    display: $disp;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $al;
    gap: $gp;
    flex-wrap: $wr;
} 

@mixin contacts-svg($wd, $hg, $mr, $fl){
    width: $wd;
    height: $hg;
    margin-right: $mr;
    fill: $fl;
}

@mixin retina($dev-ratio, $dpi, $dppx){
    @media (min-device-pixel-ratio:$dev-ratio),
    (min-resolution:$dpi),
    (min-resolution:$dppx)
    {
        @content;
    }
}

@mixin retin($bg-1x, $bg-2x, $bg-3x){
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),$bg-1x;

    @include retina(2, 192dpi, 2dppx){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),$bg-2x;
    }

    @include retina(3, 288dpi, 3dppx){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),$bg-3x;
    }
}

@mixin tab($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

@mixin desc($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

@mixin bg-img($webp, $fallback){
    @supports (background-image:url("$webp")){
        background-image: url("#{$webp}");
    }
    background-image: url("#{$fallback}");
}
