%current{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(33, 150, 243, 1);
    margin-bottom: -34px;
    animation-name: ani;
    animation-duration: 3s;
}

%feautures-decor{
    content: "";
    width: 450px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $bgimg-color;
    background-position: center;

    @include tab(768px){
        width: 354px;
    }

    @include desc(1200px){
        width: 270px;
    }
}