.section-features{
    padding: 60px 0;

    @include desc(1200px){
        padding: 94px 0;
    }
}

.features-list{
    @include positioning(flex, _, center, _, 30px, wrap);

    &-descript{
        @include font-style(Roboto, 14px, 400, 1.7, 0.03em, left, $p-color);
        max-width: 450px;
        margin-bottom: 30px;

        @include tab(768px){
            max-width: 354px;
            margin: 0;
        }

        @include desc(1200px){
            max-width: 270px
        }
    }

    &-title{
        @include font-style(Roboto, 14px, 700, 1.1, 0.03em, center, $descript-and-header-color);
        margin: 30px 0 10px;

        @include tab(768px){
            @include font-style(Roboto, 14px, 700, 1.1, 0.03em, left, $descript-and-header-color); //text-align
        }
    }
}

.feature-container{
    height: 120px;
    background-color: $team-bg-color;
    @include positioning(flex, _, center, center, _, _);
}
