.section-features{
    padding: 60px 0;

    @include desc(1200px){
        padding: 94px 0;
    }
}

.feautures-list{
    @include positioning(flex, _, center, _, 30px, wrap);

    &-item{
        &::before{
            @extend %feautures-decor; //make place for img
        }
            //add img
        &:nth-child(1)::before{
            background-image: url(../img/antena.png);
        }

        &:nth-child(2)::before{
            background-image: url(../img/clock.png);
        }

        &:nth-child(3)::before{
            background-image: url(../img/diagramma.png);
        }

        &:nth-child(4)::before{
            background-image: url(../img/astronaut.png);
        }
    }

    &-descript{
        @include font-style(Roboto, 14px, 400, 1.1, 0.03em, left, $p-color);
        @include min-max(_, _, 450px, _);
        margin-bottom: 30px;

        @include tab(768px){
            @include min-max(_, _, 354px, _);
            margin: 0;
        }

        @include desc(1200px){
            @include min-max(_, _, 270px, _);
        }
    }

    &-title{
        @include font-style(Roboto, 14px, 700, 1.1, 0.03em, center, $descript-and-header-color);
        padding-bottom: 10px;
        padding-top: 30px;

        @include tab(768px){
            @include font-style(Roboto, 14px, 700, 1.1, 0.03em, left, $descript-and-header-color); //text-align
        }
    }
}
