.footer{
        background: $bg-color;
        padding: 60px 0;

    &-wrap{
        @include positioning(flex, _, center, _, 60px 165px, wrap);

        @include desc(1200px){
            @include positioning(flex, _, center, _, 0, nowrap);
        }
    }

    &-addres{
        text-align: center;
        @include desc(1200px){
            text-align: left;
            margin-right: 70px;
        }
    }

    &-form{
        @include positioning(flex, column, _, center, 20px 12px, _);

        @include desc(1200px){
            @include positioning(flex, row, _, center, 20px 12px, _);
        }

        &-title{
            @include font-style($roboto, 14px, 700, 0.03em, center, $adress-hero-color);
            text-transform: uppercase;
            margin-bottom: 20px;

            @include desc(1200px){
                @include font-style($roboto, 14px, 700, 0.03em, left, $adress-hero-color);
            }
        }

        &-input{
            background-color: inherit;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            padding: 15px;
            min-width: 450px;

            @include desc(1200px){
                min-width: 358px;
            }
        }
            
        &-svg{
            fill: currentColor;
        }
    }
}

.adress{
    &-list{
        margin-top: 20px;

        &-item:nth-child(1)>a{
            color: $adress-hero-color;
        }
    
        &-link{
            @include font-style($roboto, 14px, 400, 0.03em, left, $footer-mail-number-color);
        }
    }
}

    //**ico**
.join-list{
    @include positioning(flex, _, center, _, 10px, _);
    color: &p-color;

    &-link{
        @extend %icon-link;
    }

    &-link:hover{
        background-color: $blue-main-color;
    }

    &-svg{
        fill: currentColor;
    }

}