.header{
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $white-main-color;
    padding: 16px 0;

    &-wrap{
        @include positioning(flex, _, _, center, _, _);
    }

    &-btn{
        margin-left: auto;
        background-color: inherit;

        @include tab(768px){
            display: none;
        }
    }

    @include tab(768px){
        padding: 21px 0;
    }

    @include desc(1200px){
        padding: 25px 0;
    }
}