.section-hero{
    padding: 118px 0;

    @include bg-image("../main/mb-webp/bg-hero-mb-1x.webp", "../main/mb/bg-hero-mb-1x.jpg", $gradient);

    @include retina(2,192dpi,2dppx) {
        @include bg-image("../main/mb-webp/bg-hero-mb-2x.webp", "../main/mb/bg-hero-mb-2x.jpg", $gradient);
    }
    
    @include retina(3,288dpi,3dppx) {
        @include bg-image("../main/mb-webp/bg-hero-mb-3x.webp", "../main/mb/bg-hero-mb-3x.jpg", $gradient);
    }

    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-title{
        @include font-style(Roboto, 26px, 900, 1.6, 0.06em, center, $adress-hero-color);
        max-width: 360px;
        margin: 0 auto;
        text-transform: uppercase;

        @include desc(1200px){
            @include font-style(Roboto, 44px, 900, 1.3, 0.06em, center, $adress-hero-color);
            max-width: 696px;
        }
    } 
        
    @include tab(768px){
        padding: 118px 0;
        @include bg-image("../main/tab-webp/bg-hero-tab-1x.webp", "../main/tab/bg-hero-tab-1x.jpg", $gradient);

        @include retina(2,192dpi,2dppx) {
            @include bg-image("../main/tab-webp/bg-hero-tab-2x.webp", "../main/tab/bg-hero-tab-2x.jpg", $gradient);
        }
        
        @include retina(3,288dpi,3dppx) {
            @include bg-image("../main/tab-webp/bg-hero-tab-3x.webp", "../main/tab/bg-hero-tab-3x.jpg", $gradient);
        }

    }  

    @include desc(1200px){
        padding: 200px 0;
        @include bg-image("../main/desc-webp/bg-hero-desc-1x.webp", "../main/desc/bg-hero-desc-1x.jpg", $gradient);

        @include retina(2,192dpi,2dppx) {
            @include bg-image("../main/desc-webp/bg-hero-desc-2x.webp", "../main/desc/bg-hero-desc-2x.jpg", $gradient);
        }
        
        @include retina(3,288dpi,3dppx) {
            @include bg-image("../main/desc-webp/bg-hero-desc-3x.webp", "../main/desc/bg-hero-desc-3x.jpg", $gradient);
        }
    }   
}