.section-hero{
    padding: 118px 0;
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../main/mb/hero-mb 1x.jpg");

    @include retin(
        url("../main/mb/hero-mb 1x.jpg"),
        url("../main/mb/hero-mb 2x.jpg"),
        url("../main/mb/hero-mb 3x.jpg")
    );

    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-title{
        @include font-style(Roboto, 26px, 900, 1.6, 0.06em, center, $adress-hero-color);
        max-width: 360px;
        margin: 0 auto;
        text-transform: uppercase;

        @include desc(1200px){
            @include font-style(Roboto, 44px, 900, 1.3, 0.06em, center, $adress-hero-color);
            max-width: 696px;
        }
    } 
        
    @include tab(768px){
        padding: 200px 0;
        @include retin(
            url("../main/tab/hero-tab 1x.jpg"),
            url("../main/tab/hero-tab 2x.jpg"),
            url("../main/tab/hero-tab 3x.jpg")
        );
    }  

    @include desc(1200px){
        @include retin(
            url("../main/desc/hero-desc 1x.jpg"),
            url("../main/desc/hero-desc 2x.jpg"),
            url("../main/desc/hero-desc 3x.jpg")
        );
    }  
}
