.nav{
    display: none;
    margin-left: 88px;

    &-list{
        @include positioning(flex, _, _, left, 50px, _);
        position: relative;
    
        &-link:hover{
            color: $blue-main-color;
        }
    
        &-link-current::before{
            @extend %current;
        }
    
        &-link{
            @include font-style(Roboto, 14px, 500, 1.1, 0.02em, left, _);
            position: relative;
            transition: color 0.5s ease;

        }

    }

    @include tab(768px){
        display: block;
        margin-right: 90px;
    }

    @include desc(1200px){
        margin: 0 315px 0 92px;
    }
}